.low-score{
    label{
        border-bottom: 1px solid rgba(0,0,0,.67);
        cursor: pointer;
        display: block;
        margin-bottom: 0;
        padding: 7px 0 7px 24px;
    }
    .button{
        display: table;
        margin: 14px auto 0;
    }
}