doctype html
html
    head
        title Правильный вариант
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8") 
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(content='true' name='HandheldFriendly')
        meta(content='width' name='MobileOptimized')
        meta(content='yes' name='apple-mobile-web-app-capable')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")

    body.black
        #black-bg
        #clipboard 123
        input#clipboard-hidden
        div.container.c-container
            .row
                .col-md-12
                    h3.white Заказ № А743412 — Стандарт
                .col-md-12
                    .c-card 
                        h3 
                            | 16 июля 15:30
                            span.late  (задержка до&nbsp;17:30)
                        .c-card__point.c-card__point--start Аэропорт Симферополь
                        .c-card__point.c-card__point--end Ялта
                        .c-card__info.gray Расстояние: 102 км.
                        .c-card__info.gray Время в&nbsp;пути: 1 час 30 минут (без учета пробок)
                        .c-card__cost
                            | Стоимость поездки:
                            span  1500 ₽
                        .c-card__info.gray Форма оплаты: Наличными
                        .c-card__actions
                            .c-card__col.c-card__col--left
                                a.c-card__info.red(href="#") Отменить заказ
                                a.c-card__info.green(href="#") Заказать обратный трансфер
                                a.c-card__info(href="#") Изменить детали поездки
                            .c-card__col.c-card__col--right
                                button.help
                                    img(src="assets/img/help.svg" alt="Помощь")
                                    span Помощь

                .col-md-12
                    h3.white Водитель
                .col-md-12
                    .c-card.c-card__driver-question
                        p Идет поиск водителя...
                        p.question Когда будет назначен водитель?
                        p.answer 
                            | Обычно водителя назначают за&nbsp;день до&nbsp;поездки. 
                            | Крайний срок назначения за&nbsp;час до&nbsp;планиуремой поездки. 
                            | Если у&nbsp;Вас заказ был сделан больше чем за&nbsp;сутки —&nbsp;Вам 
                            | не&nbsp;о&nbsp;чем беспокоиться, мы обязательно подадим Вам машину

                .col-md-12
                    h3.white Водитель
                .col-md-12
                    .c-card.c-card--popular
                        .c-card__driver-row.padding-left-20
                            .c-card__driver-col.c-card__driver-col--info
                                img(src="assets/img/driver.png" alt="фотография водителя")
                                .c-card__driver-info
                                    p Александр Розенбаум
                                    p
                                        | Mersedes-Benz CLS-200
                                        br
                                        | M775EC 777
                            .c-card__driver-col
                                img(src="assets/img/driver-star.png" alt="рейтинг")
                                span.star 4,7
                        .c-card__driver-row.padding-left-20
                            .c-card__driver-col
                                p Класс авто — комфорт
                                p.success Поздравляем! Вас встретит автомобиль комфорт класса по цене стандарта:)
                        .c-card__driver-row.padding-left-20
                            .c-card__driver-col
                                p 
                                    | Телефон: 
                                    a(href="tel:+79781994151") 8 (978) 199-41-51
                            .c-card__driver-col
                                a.callto(href="#") 
                                    img(src="assets/img/viber.svg" alt="viber")
                                a.callto(href="#") 
                                    img(src="assets/img/telegram.svg" alt="telegram")
                                a.callto(href="#") 
                                    img(src="assets/img/whatsapp.svg" alt="whatsapp")
                        .c-card__driver-row
                            .swiper-container.driver
                                .swiper-wrapper
                                    a.swiper-slide(data-fancybox="gallery" href="assets/img/doodle-1.jpg")
                                        img(src="assets/img/doodle-1.jpg" alt="1")
                                    a.swiper-slide(data-fancybox="gallery" href="assets/img/doodle-2.jpg")
                                        img(src="assets/img/doodle-2.jpg" alt="2")
                                    a.swiper-slide(data-fancybox="gallery" href="assets/img/doodle-3.jpg")
                                        img(src="assets/img/doodle-3.jpg" alt="3")
                                    a.swiper-slide(data-fancybox="gallery" href="assets/img/doodle-4.jpg")
                                        img(src="assets/img/doodle-4.jpg" alt="4")

                                    
                                    //.swiper-slide
                                        img(src="assets/img/doodle-1.jpg" alt="1")
                                    //.swiper-slide
                                        img(src="assets/img/doodle-2.jpg" alt="2")
                                    //.swiper-slide
                                        img(src="assets/img/doodle-3.jpg" alt="3")
                                    //.swiper-slide
                                        img(src="assets/img/doodle-4.jpg" alt="4")
                                

                .col-md-12
                    h3.white Акция — Расскажи другу!
                .col-md-12
                    .c-card.c-card--promo
                        .thankyou__row
                            .thankyou__col.thankyou__col--left.thankyou__col--black
                                .thankyou__container Промокод
                            .thankyou__col.thankyou__col--left.thankyou__col--black
                                .thankyou__container Бонус
                        .thankyou__row.thankyou__row--invite-friend
                            .thankyou__col.thankyou__col--left.thankyou__col--blue.toclipboard
                                .thankyou__container АР897
                            .thankyou__col.thankyou__col--left.thankyou__col--blue
                                .thankyou__container 100 рублей
                        p.margin-0.align-left Приведи друга и&nbsp;получи 100 рублей на&nbsp;счет!
                        p.small.margin-0.align-left - Поделись с&nbsp;другом вашей уникальной ссылкой
                        p.small.margin-0.align-left 
                            | - Если человек совершит заказ по&nbsp;вашей ссылке, 
                            | то&nbsp;вы получите 100 рублей за&nbsp;каждый выполенный заказ
                            a.thankyou__learn-more(href="#") Узнать подробнее
                        .thankyou__row.thankyou__row--last
                            .thankyou__col.thankyou__col--left.thankyou__col--blue.toclipboard
                                .thankyou__container clck.ru/MKXmT
                            .thankyou__col.thankyou__col--left.thankyou__col--green
                                .thankyou__container
                                    | Рассказать
                                    br
                                    | друзьям

                .col-md-12
                    h3.white Предложения от наших партнеров!
                    .c-card.c-card--popular
                        .categories-container
                            .swiper-container.categories
                                .header.padding-left-20 Категории
                                .swiper-wrapper
                                    .swiper-slide
                                        a.link(href="#")
                                            img(src="assets/img/cat-photo.svg" alt="фотосессии")
                                            span.text Фотосессии
                                    .swiper-slide
                                        a.link(href="#")
                                            img(src="assets/img/cat-exc.svg" alt="индивидуальные экскурсии")
                                            span.text Индивидуальные экскурсии
                                    .swiper-slide
                                        a.link(href="#")
                                            img(src="assets/img/cat-relax.svg" alt="отдых с детьми")
                                            span.text Отдых с детьми
                                    .swiper-slide
                                        a.link(href="#")
                                            img(src="assets/img/cat-eno.svg" alt="энотуризм")
                                            span.text Энотуризм
                                    .swiper-slide
                                        a.link(href="#")
                                            img(src="assets/img/cat-photo.svg" alt="фотосессии")
                                            span.text Фотосессии
                                    .swiper-slide
                                        a.link(href="#")
                                            img(src="assets/img/cat-exc.svg" alt="индивидуальные экскурсии")
                                            span.text Индивидуальные экскурсии
                        .c-card__popular-header
                            span.padding-left-20 Популярное
                            img(src="assets/img/arrow-forward-small.svg" alt="Популярное")
                            .swiper-container.popular
                                .swiper-wrapper
                                    .swiper-slide(style="background-image: url('assets/img/popular-diving.png');")
                                        a(href="#")
                                            span Дайвинг на&nbsp;Тарханкуте
                                    .swiper-slide(style="background-image: url('assets/img/popular-winnery.png');")
                                        a(href="#")
                                            span «Золотая Балка» экскусрия с дегустацией

       
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
        script(src="assets/js/app.min.js")
        //script $.fancybox.defaults.backFocus = false
        //script var swiper = new Swiper('.driver', { freeMode: true, slidesPerView: 4, spaceBetween: 8, slidesPerGroup: 1, loop: true, loopFillGroupWithBlank: true,});
