doctype html
html
    head
        title Все страницы
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8") 
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(content='true' name='HandheldFriendly')
        meta(content='width' name='MobileOptimized')
        meta(content='yes' name='apple-mobile-web-app-capable')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")

    body
        div.index
            div.container(style="padding-top: 40px;")
                div.row
                    div.col-md-3
                        a.back(href="support.html" target="_blank") Помощь
                        a.back(href="problems-money.html" target="_blank") Что-то с деньгами
                        a.back(href="photographer.html" target="_blank") Страница фотографа
                        a.back(href="correct.html" target="_blank") Правильный вариант

                    div.col-md-3
                        a.back(href="thankyou.html" target="_blank") Спасибо за оценку
                        a.back(href="thankyou-promocode.html" target="_blank") Спасибо за оценку (с промокодом)
                        a.back(href="festivals.html" target="_blank") Фестивали в Крыму

                    div.col-md-3
                        a.back(href="cancel-trip.html" target="_blank") Отменить поездку
                        a.back(href="photographers.html" target="_blank") Фотографы
                        a.back(href="orders.html" target="_blank") Все заказы

                    div.col-md-3
                        a.back(href="low-score.html" target="_blank") Низкая оценка
                        a.back(href="excursions.html" target="_blank") Индивидуальные экскурсии
                        a.back(href="rate-ride.html" target="_blank") Оцените поездку
       
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="assets/js/app.min.js")