doctype html
html
    head
        title Помощь
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8") 
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(content='true' name='HandheldFriendly')
        meta(content='width' name='MobileOptimized')
        meta(content='yes' name='apple-mobile-web-app-capable')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")

    body
        div.container.c-container
            div.row
                div.col-md-12
                    div.header-row
                        a.back(href="#")
                            img(src="assets/img/arrow-back.svg" alt="стрелка")
                        h2 Проблема с поездкой
                    div.support
                        a(href="#")
                            span Что-то с деньгами
                            img(src="assets/img/arrow-forward.svg" alt="стрелка")
                    div.support
                        a(href="#")
                            span Непрофессиональный водитель
                            img(src="assets/img/arrow-forward.svg" alt="стрелка")
                    div.support
                        a(href="#")
                            span Проблема с автомобилем
                            img(src="assets/img/arrow-forward.svg" alt="стрелка")
                    div.support
                        a(href="#")
                            span Не могу дозвониться
                            img(src="assets/img/arrow-forward.svg" alt="стрелка")
                    div.support
                        a(href="#")
                            span Как я найду своего водителя?
                            img(src="assets/img/arrow-forward.svg" alt="стрелка")
                    div.support
                        a(href="#")
                            span Что делать, если мой рейс задержали?
                            img(src="assets/img/arrow-forward.svg" alt="стрелка")

       
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="assets/js/app.min.js")