$black: rgba(0, 0, 0, 100);
$dark: rgba(0, 0, 0, 0.67);
$light-gray: rgba(223, 229, 231, 100);
$orange: rgba(255, 80, 32, 100);
$white: rgba(255, 255, 255, 100);
$red: rgba(255, 0, 0, 100);
$GPR: GothamProRegular, sans-serif;
$GPM: GothamProMedium, sans-serif;

$green: rgba(49, 203, 135, 100);